body {
    background-color: hsl(289, 19%, 55%);
    display:flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    font-family: sans-serif;
}
.box {
    background-color: var(--bg);
    width: 1200;
    padding: 400px;
    box-shadow: 0 20px 50px rgba(0,0,0,0.5);
    position:relative;
    border-radius: 8pt
}

.btn {
  position: absolute;
  left: 0;
  top:0;
  transition: left 0.3s cubic-bezier(0.25, 1, 0.5, 1),
              top 0.3s cubic-bezier(0.25, 1, 0.5, 1);
}



@keyframes shiver {
  0% { transform: translate(0, 0); }
  15% { transform: translate(-2px, 1px); }
  30% { transform: translate(2px, -2px); }
  45% { transform: translate(-1px, 2px); }
  60% { transform: translate(2px, 2px); }
  75% { transform: translate(-2px, -1px); }
  90% { transform: translate(1px, -2px); }
  100% { transform: translate(0, 0); }
}


